<div class="cart">
    <!---<div class="cartOffer">
        <!-- <kb-page-slider class="cartOfferSlider">
            <div class="cartOfferSliderLeft"></div>
            <div class="cartOfferSliderSlideWrap">
                <div class="cartOfferSliderSlide">Special Offer:<span>{{ OfferState.Offer.Id }}</span>
                </div>
            </div>
            <div class="cartOfferSliderRight"></div>
        </kb-page-slider>-->
	<!---*** Temporary removed due unused marketing companies ***	-->
    <div class="cartTotals">
        <div class="cartTotalSubtotal">
            <div class="cartTotalSubtotalTitle">Subtotal:</div>
            <div class="cartTotalSubtotalValue">{{ OfferState.BaseTotalPrice }}<span>$</span></div>
        </div>
        <div class="cartTotal">
            <div class="cartTotalTitle">Estimated Order Total:</div>
            <div class="cartTotalValue">{{ OfferState.BaseTotalPrice - OfferState.TotalDiscount }} $</div>
        </div>
    </div>
    <div class="cartButtonAdd">
        <button class="cartButton" (click)="addToCart()">PROCEED TO CHECKOUT</button>
    </div>
</div>