.track
    .trackLine
    .trackDelete
    .trackLeft
        .trackNumber
            span 3
    .trackMiddle
        .trackName
            | Guitar TV7724
        .trackVolume
            .trackVolumeSlider
                .trackVolumeSliderMin
                .trackVolumeSliderBar
                    .trackVolumeSliderBarActive
                    .trackVolumeSliderBarTrack
                .trackVolumeSliderMax
            .trackVolumeValue
                | 15
    .trackRight
        .trackTime
            | 03:21
        .trackControlButton
            .trackFX
                span FX
            .trackB
                span B