.sidebar
    flex 0 1 320px
    width 320px
    background-color #2a2c2c
    align-self stretch
    box vertical top left
.sidebarScrollContainter
    position relative
    flex 1 1 calc(100% - 14px)
    max-width calc(100% - 14px)
    align-self stretch
    border-right 1px solid rgba(0,0,0,.1)
    border-left 1px solid rgba(0,0,0,.1)
    padding 0 12px
    &:after
        display block
        position absolute
        content ''
        top 0px
        left 0
        width 320px
        height 16px
        opacity 0.12
        background-image linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%)
.sidebarScrollRail
    position relative
    flex 1 1 14px
    width 14px
    min-width 14px
    align-self stretch
    border-left 1px solid rgba(255,255,255,.02)
    border-right 1px solid rgba(0,0,0,.1)
.sidebarScrollBar
    position absolute
    left 2px
    top 100px
    width 8px
    height 163px
    border-radius 4px
    background-color #353939

.sidebarContent
    flex 1 1 auto
    box horizonta top left
    width 100%

.sidebarFooter
    width 100%
    flex 0 1 auto
    position relative
    background-color #2d2f2f
    border-right 1px solid rgba(0,0,0,.1)
    border-left 1px solid rgba(0,0,0,.1)
    &:after
        display block
        position absolute
        content ''
        top -16px
        left 0
        width 320px
        height 16px
        background-color rgba(110, 116, 116, 0)
        background-image linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%)
        opacity 0.12