.meters
    width 100%
    height 48px
    background-color rgba(42, 44, 44, 0.8)
    box horizontal middle space-between
    padding 0 12px
    border-top 1px solid rgba(0,0,0,.1)

.meter
    box horizontal middle left
    &Title
        color #6e7474
        font-family Circe
        font-size 14px
        font-weight 400
        margin-right 6px
    &Value
        height 24px
        border-radius 2px
        background-color #333535
        padding 0 6px
        box horizontal middle center
        padding-top 1px
        color #ffffff
        font-family 'Circe', sans-serif
        font-size 14px
        font-weight 700
        span
            color #849393
            font-weight 400