.product
    box horizontal top space-between
    padding 10px 0 10px 10px
    position relative
    transition all .4s
    margin-bottom 1px
    &:hover
        .productName
            color #ffffff
.productImage
    flex 0 1 auto
    margin-right 12px
.productLine
    display block
    position absolute
    content ''
    width calc(100% - 20px)
    height 1px
    left 10px
    bottom -1px
    background-color #262828

.productContent
    box vertical space-between left
    flex 1 1 auto
    align-self stretch

.productContentRow
    box horizontal middle space-between
    width 100%

.productName
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 16px
    font-weight 400
    transition all .4s

.productPrice
    box vertical top left
    padding-right 30px
.productPriceValue
    color #ffffff
    font-family 'Circe', sans-serif
    font-size 16px
    font-weight 700
    font-size 14px
    span
        font-weight 400
        margin-left 3px
.productPriceSale
    position relative
    color #505c5b
    font-family 'Circe', sans-serif
    font-size 13px
    font-weight 700
    font-size 11px
    &:after
        display block
        position absolute
        content ''
        size calc(100% + 4px) 1px
        top calc(50% - 1px)
        left -2px
        background-color rgba(115, 134, 134, 0.7)


.productOffer
    height 26px
    border-radius 6px
    background-color #282a2a
    box horizontal middle space-between
    padding 0 7px
    width 100%
.productOfferName
    color #738686
    font-family 'Circe', sans-serif
    font-size 12px
    font-weight 400
    text-transform uppercase
.productOfferPrice
    color #738686
    font-family 'Circe', sans-serif
    text-transform uppercase
    font-size 13px
    font-weight 700
    box horizontal middle
    span
        padding-top 1px
        font-size 13px
        font-weight 400
        box horizontal middle
    em
        padding-top 0.14em
        margin-left 3px
        margin-right 5px
        font-size 11px
        font-style normal
        margin-right 3px
