.track
    box horizontal top space-between
    position relative
    margin-bottom 1px
    padding 10px
    transition all .4s
    &Active,
    &:hover
        background-color #2e3232
        border-radius 6px
        .trackDelete
            opacity 1
            visibility visible
        .trackVolumeSliderBarTrack
            background-color #2e3232

.trackLine
    display block
    position absolute
    bottom -1px
    left 10px
    width calc(100% - 20px)
    height 1px
    background-color #262828
    content ''

.trackDelete
    display block
    position absolute
    top 11px
    right 11px
    opacity 0
    visibility hidden
    background-image url('../img/track/delete.png')
    background-repeat no-repeat
    transition all .4
    size 8px
    background-position center center
    &:hover
        background-image url('../img/track/delete-hover.png')

.trackLeft
    flex 0 1 30px
    width 30px

.trackNumber
    box vertical middle center
    width 18px
    height 18px
    background-color rgba(60, 68, 68, 0)
    border 1px solid #3c4444
    border-radius 50%
    span
        flex 0 1 auto
        padding-top 1px
        color #6a7777
        font-family 'Circe', sans-serif
        font-size 10px
        font-weight 700

.trackMiddle
    box vertical top left
    flex 1 1 calc(100% - 102px)
    width calc(100% - 102px)
    max-width calc(100% - 102px)

.trackName
    width calc(100% - 20px)
    max-width 100%
    overflow hidden
    margin-bottom 15px
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400
    text-overflow ellipsis
    white-space nowrap

.trackVolume
    box horizontal middle space-between
    width calc(100% - 20px)

.trackVolumeSlider
    box horizontal middle left
    width 100%
    margin-right 10px
    &:hover
        .trackVolumeSliderBarActive
            background-color #3ab0e1
        .trackVolumeSliderBarTrack
            border 1px solid #3ab0e1

.trackVolumeSliderMin
    flex 1 1 auto
    min-width 13px
    margin-right 10px
    background-image url('../img/track/volume-min.png')
    background-repeat no-repeat
    transition all .4s
    size 13px
    background-position center center
    &:hover
        background-image url('../img/track/volume-min-hover.png')

.trackVolumeSliderBar
    flex 1 1 auto
    position relative
    height 1px
    background-color #3c4444
    font-size 1px
    size 100% 1px

.trackVolumeSliderBarActive
    display block
    position absolute
    background-color #aebaba
    size 60% 1px

.trackVolumeSliderBarTrack
    display block
    position absolute
    top -3.5em
    left calc(50% + 3.5em)
    width 9px
    height 9px
    background-color #333535
    border 1px solid #aebaba
    border-radius 50%

.trackVolumeSliderMax
    flex 1 1 auto
    min-width 15px
    margin-left 10px
    background-image url('../img/track/volume-max.png')
    background-repeat no-repeat
    transition all .4s
    size 15px
    background-position center center
    &:hover
        background-image url('../img/track/volume-max-hover.png')

.trackVolumeValue
    padding-top 2px
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400

.trackRight
    box vertical top left
    flex 0 1 72px
    width 72px

.trackTime
    margin-bottom 12px
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400

.trackControlButton
    box horizontal middle space-between

.trackFX
    box vertical middle center
    width 34px
    height 24px
    margin-right 4px
    padding-top 2px
    background-color #343a39
    border-radius 3px
    transition all .4s
    span
        display block
        color #b7d0d0
        font-family 'Circe', sans-serif
        font-size 13px
        font-weight 400
        text-transform uppercase
        transition all .4s
    &Active
        background-color #46b6f7
        span
            color #fff
    &:hover
        background-color #505c5b
        span
            color #fff

.trackB
    box vertical middle center
    width 34px
    height 24px
    padding-top 2px
    background-color #343a39
    border-radius 3px
    transition all .4s
    span
        display block
        color #b7d0d0
        font-family 'Circe', sans-serif
        font-size 13px
        font-weight 400
        text-transform uppercase
    &Active
        background-color #46b6f7
        span
            color #fff
    &:hover
        background-color #505c5b
        transition all .4s
        span
            color #fff