.track
    box horizontal top space-between
    padding 10px
    position relative
    transition all .4s
    margin-bottom 1px

    &Active, &:hover
        border-radius 6px
        background-color #2e3232
        .trackDelete
            opacity 1
            visibility visible
        .trackVolumeSliderBarTrack
            background-color #2e3232
.trackLine
    display block
    position absolute
    content ''
    width calc(100% - 20px)
    height 1px
    left 10px
    bottom -1px
    background-color #262828
.trackDelete
    display block
    position absolute
    size 8px
    right 11px
    top 11px
    background-repeat no-repeat
    background-position center center
    background-image url('../img/track/delete.png')
    opacity 0
    visibility hidden
    transition all .4
    &:hover
        background-image url('../img/track/delete-hover.png')
.trackLeft
    flex 0 1 30px
    width 30px

.trackNumber
    width 18px
    height 18px
    border 1px solid #3c4444
    background-color rgba(60, 68, 68, 0)
    box vertical middle center
    border-radius 50%
    padding-top 2px
    span
        flex 0 1 auto
        color #6a7777
        font-family 'Circe', sans-serif
        font-size 10px
        font-weight 700
.trackMiddle
    box vertical top left
    flex 1 1 calc(100% - 102px)
    width calc(100% - 102px)
    max-width calc(100% - 102px)

.trackName
    width calc(100% - 20px)
    max-width 100%
    overflow hidden
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400
    white-space nowrap
    text-overflow ellipsis
    margin-bottom 15px

.trackVolume
    box horizontal middle space-between
    width calc(100% - 20px)

.trackVolumeSlider
    box horizontal middle left
    width 100%
    margin-right 10px
    &:hover
        .trackVolumeSliderBarActive
            background-color #3ab0e1
        .trackVolumeSliderBarTrack
            border 1px solid #3ab0e1
.trackVolumeSliderMin
    flex 1 1 auto
    size 13px
    min-width 13px
    background-repeat no-repeat
    background-position center center
    background-image url('../img/track/volume-min.png')
    transition all .4s
    margin-right 10px
    &:hover
        background-image url('../img/track/volume-min-hover.png')
.trackVolumeSliderBar
    flex 1 1 auto
    size 100% 1px
    height 1px
    background-color #3c4444
    position relative
    font-size 1px

.trackVolumeSliderBarActive
    display block
    position absolute
    size 60% 1px
    background-color #aebaba
.trackVolumeSliderBarTrack
    display block
    position absolute
    top -3.5em
    left calc(50% + 3.5em)
    width 9px
    height 9px
    border-radius 50%
    border 1px solid #aebaba
    background-color #333535
.trackVolumeSliderMax
    flex 1 1 auto
    size 15px
    min-width 15px
    background-repeat no-repeat
    background-position center center
    background-image url('../img/track/volume-max.png')
    transition all .4s
    margin-left 10px
    &:hover
        background-image url('../img/track/volume-max-hover.png')

.trackVolumeValue
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400
    padding-top 2px
.trackRight
    flex 0 1 72px
    width 72px
    box vertical top left
.trackTime
    color #aebaba
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400
    margin-bottom 12px
.trackControl
    box horizontal middle space-between

.trackFX
    width 34px
    height 24px
    border-radius 3px
    background-color #343a39
    box vertical middle center
    padding-top 2px
    margin-right 4px
    transition all .4s
    span
        display block
        color #b7d0d0
        font-family 'Circe', sans-serif
        font-size 13px
        font-weight 400
        text-transform uppercase
        transition all .4s
    &Active
        background-color #46b6f7
        span
            color #fff
    &:hover
        background-color #505c5b
        span
            color #fff
.trackB
    width 34px
    height 24px
    border-radius 3px
    background-color #343a39
    box vertical middle center
    padding-top 2px
    transition all .4s
    span
        display block
        color #b7d0d0
        font-family 'Circe', sans-serif
        font-size 13px
        font-weight 400
        text-transform uppercase
    &Active
        background-color #46b6f7
        span
            color #fff
    &:hover
        background-color #505c5b
        transition all .4s
        span
            color #fff