
@font-face
    font-family 'Circe'
    font-style normal
    font-weight 300
    src: url(../fonts/337436_0_0.woff) format('woff'), url(../fonts/337436_0_0.woff2) format('woff2')

@font-face
    font-family 'Circe'
    font-style normal
    font-weight 350
    src: url(../fonts/337436_4_0.woff) format('woff'), url(../fonts/337436_4_0.woff2) format('woff2')

@font-face
    font-family 'Circe'
    font-style normal
    font-weight 200
    src: url(../fonts/337436_1_0.woff) format('woff'), url(../fonts/337436_1_0.woff2) format('woff2')

@font-face
    font-family 'Circe'
    font-style normal
    font-weight 900
    src: url(../fonts/337436_2_0.woff) format('woff'), url(../fonts/337436_2_0.woff2) format('woff2')

@font-face
    font-family 'Circe'
    font-style normal
    font-weight 700
    src: url(../fonts/337436_3_0.woff) format('woff'), url(../fonts/337436_3_0.woff2) format('woff2')


@font-face
    font-family 'Circe'
    font-style normal
    font-weight 400
    src: url(../fonts/337436_5_0.woff) format('woff'), url(../fonts/337436_5_0.woff2) format('woff2')

