@reset-global pc

*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

a:focus
    outline 0

html
    height 100%
    font-size 16px
    background-color #2d2f2f

body
    position relative
    min-height 100%
    height 100%
    font-family 'Circe', sans-serif
    font-weight 400

