<div class="sidebarScrollContainter">
    <div class="track"
         *ngFor="let file of filesState.FileList; index as i"
         [class.trackActive]="file.active"
         (click)="selectFile(filesState.FileList[i], $event)">
        <div class="trackLine"></div>
        <div class="trackDelete" (click)="deleteFile(file)"></div>
        <div class="trackLeft">
            <div class="trackNumber"><span>{{ i + 1 }}</span></div>
        </div>
        <div class="trackMiddle">
            <div class="trackName">{{ file.Caption }}</div>

            <div class="trackVolume">
                <div class="trackVolumeSlider">
                    <div class="trackVolumeSliderMin" (click)="setVolumeToMin(file)"></div>
                    <div class="trackVolumeSliderBar">
                        <nouislider non-click-by-parent
                                    [connect]="true"
                                    [min]="0"
                                    [max]="100"
                                    [step]="1"
                                    [(ngModel)]="file.Volume"></nouislider>
                    </div>
                    <div class="trackVolumeSliderMax" (click)="setVolumeToMax(file)"></div>
                </div>
                <div class="trackVolumeValue">{{ file.Volume }}</div>
            </div>
        </div>
        <div class="trackRight">
            <div class="trackTime">{{ file.LengthInSeconds * 1000 | date: 'mm:ss' }}</div>
            <div class="trackControlButton">
                <label class="trackFX"
                       non-click-by-parent
                       [class.trackFXActive]="file.FileId === filesState.FxAudioFileId">
                    <input type="checkbox"
                           name="fx"
                           (change)="selectFx(file)" />
                    <span>FX</span>
                </label>
                <label class="trackB"
                       non-click-by-parent
                       [class.trackBActive]="file.FileId === filesState.BackgroundAudioFileId">
                    <input type="checkbox"
                           name="b"
                           (change)="selectB(file)" />
                    <span>B</span>
                </label>
            </div>
        </div>
    </div>
</div>