<div class="modal" id="modal-progress">
    <div class="modalTitle">
        <div class="modalHeader">
            <h6>Attention</h6>
        </div>
        <div class="modalClose">
            <button class="modalCloseButton" (click)="closePopup()"></button>
        </div>
    </div>
    <div class="modalMiddle">
        <div class="modalContent modalContentCenter">
            <h4>Due to the sandbox concept, <br> the mixdown is limited to 2 minutes long.</h4>
            <div class="modalProgress">
                <div class="modalProgressRail">
                    <div class="modalProgressBar" [ngStyle]="{'width.%': progress}"></div>
                </div>
                <div class="modalProgressLegend">
                    <div class="modalProgressLegendMin">0</div>
                    <div class="modalProgressLegendMax">44 of 120 Sec</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modalFooter">
        <button class="buttonLight"
                *ngIf="progress < 100"
                (click)="cancelMixdown()">Cancel</button>
        <button class="buttonLight"
                *ngIf="progress >= 100"
                (click)="downloadMixdown()">Download</button>
    </div>
</div>