.modalContent
    padding 26px 93px 26px 28px
    p
        color #ffffff
        font-family 'Circe', sans-serif
        font-size 16px
        font-weight 400
        margin-bottom 20px
    ul
        list-style disc
        padding-left 13px
        color #738686
        font-family 'Circe', sans-serif
        font-size 14px
        font-weight 400
        li
            margin-bottom 10px