.modalContent
    width 100%
    min-height 150px
    padding 26px 93px 26px 28px
    h4
        margin-bottom 80px
        color #ffffff
        font-family 'Circe', sans-serif
        font-size 16px
        font-weight 400
        text-align center
    p
        margin-bottom 20px
        color #ffffff
        font-family 'Circe', sans-serif
        font-size 16px
        font-weight 400
    ul
        padding-left 13px
        list-style disc
        color #738686
        font-family 'Circe', sans-serif
        font-size 14px
        font-weight 400
        li
            margin-bottom 10px

.modalContentCart
    padding 27px 13px

.modalContentWide
    padding 26px 28px

.modalContentCenter
    box vertical top center
    padding 26px 0

.modalProgress
    position relative
    width 60%
    &Rail
        display block
        position absolute
        top 0
        left 0
        background-color #3c4444
        size 100% 1px
    &Bar
        display block
        position absolute
        top 0
        left 0
        height 1px
        background-color #aebaba

.modalProgressLegend
    box horizontal middle space-between
    padding-top 10px
    color lighten(#3c4444, 10%)
    font-family 'Circe', sans-serif
    font-size 14px
    font-weight 400