.modalLegendItems
    box vertical top left
.modalLegendItem
    box horizontal top left
    margin-bottom 28px
    width 100%
.modalLegendItemLeft
    box vertical top center
    min-width 172px
    max-width 172px
    margin-right 12px

    padding-top 6px
    img
        max-width 100%