.loginForm
    box vertical top left
    width 100%

.loginFormItem
    box vertical top left
    width 100%
    margin-bottom 26px
    &:last-child
        margin-bottom 0

.loginFormItemRow
    box horizontal middle left
    width 100%
    .buttonLight
        padding 0 10px

.loginFormLabel
    box vertical middle center
    flex 0 1 auto
    height 28px
    min-width 133px
    padding 3px 22px 0
    background-color #282a2a
    border-radius 6px 6px 0 0
    color #435050
    font-family Circe
    font-size 16px
    font-weight 700
    text-transform uppercase
    &Password
        transform translateY(6px)

.loginFormInput
    flex 1 1 auto
    height 27px
    max-width 295px
    margin-right 14px
    background-color #333535
    border 2px solid transparent
    border-radius 0 2px 2px 2px
    color #6d7474
    font-family Circe
    font-size 14px
    font-weight 400
    text-align center
    outline 0
    &Error
        border 1px solid #800000

.loginFormItemNotify
    width 100%
    padding 10px 0
    color #fff
    font-family Circe
    font-size 16px
    font-weight 400
    text-align center

.modalFooterLogin
    .buttonLight
        width 115px
        padding 0
