.overlay
    display block
    position absolute
    size 100%
    background-color rgba(0,0,0,.3)
    z-index 200
    top 0
    left 0
    visibility hidden
    opacity 0
    transition all .3s

.overlayIsShow
    opacity 1
    visibility visible

.overlayI + .window
    transition all .3s

.overlayIsShow + .window
    filter url(#blur)
    filter blur(9px)