doctype
html
    head
        title braingines.site
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(type="text/css", href='./css/main.css', rel="stylesheet")
        //-script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade


    body
        svg(style="height: 0; width: 0; position: absolute; visibility: hidden")
            <filter id="blur">
                <feGaussianBlur stdDeviation="9" />
            </filter>
        include ./component/modal/modal-short
        include ./component/modal/modal-short-long
        include ./component/modal/modal-short-scroll
        include ./component/modal/modal-wide
        include ./component/modal/modal-wide-long
        include ./component/modal/modal-wide-scroll
        include ./component/modal/modal-progress
        include ./component/modal/modal-legend
        include ./component/modal/modal-login
        include ./component/modal/modal-attention
        include ./component/modal/modal-cart

        .overlay
        //-.overlayIsShow
        .window
            .windowTitleBar
                .windowTitleHeader
                    h1 GPU.AUDIO  SANDBOX
                .windowControl
                    .windowControlBack
                        .windowControlTooltip
                            | Back
                    .windowControlHelp
                        .windowControlTooltip
                            | Help
                    .windowControlZoom
                        .windowControlTooltip
                            | Zoom
                    .windowControlClose
                        .windowControlTooltip
                            | Close
            .windowContent
                block content
        script(src="./js/app.js")
