extends _layout

block content
    aside.sidebar
        .sidebarContent
            .sidebarScrollContainter
                include ./component/track
                include ./component/track
                include ./component/track
                include ./component/track
                .track
                    .trackDelete
                    .trackLeft
                        .trackNumber
                            span 3
                    .trackMiddle
                        .trackName
                            | Guitar TV7724 Am (ligature)
                        .trackVolume
                            .trackVolumeSlider
                                .trackVolumeSliderMin
                                .trackVolumeSliderBar
                                    .trackVolumeSliderBarActive
                                    .trackVolumeSliderBarTrack
                                .trackVolumeSliderMax
                            .trackVolumeValue
                                | 15
                    .trackRight
                        .trackTime
                            | 03:21
                        .trackControlButton
                            .trackFX.trackFXActive
                                span FX
                            .trackB.trackBActive
                                span B
                .track.trackActive
                    .trackDelete
                    .trackLeft
                        .trackNumber
                            span 3
                    .trackMiddle
                        .trackName
                            | Guitar TV7724 Am (ligature)
                        .trackVolume
                            .trackVolumeSlider
                                .trackVolumeSliderMin
                                .trackVolumeSliderBar
                                    .trackVolumeSliderBarActive
                                    .trackVolumeSliderBarTrack
                                .trackVolumeSliderMax
                            .trackVolumeValue
                                | 15
                    .trackRight
                        .trackTime
                            | 03:21
                        .trackControlButton
                            .trackFX
                                span FX
                            .trackB
                                span B

            .sidebarScrollRail
                .sidebarScrollBar
        .sidebarFooter
            .trackMemory
                .trackMemoryBar
                    .trackMemoryBarProgress
                    .trackMemoryBarProgressActive(style="width: 60%")
                        .trackMemoryBarProgressActiveTooltip
                            | 60
                .trackMemoryBarValue
                    .trackMemoryBarValueMin
                        | 0
                    .trackMemoryBarValueMax
                        | 44 of 100 Mb
            .trackControls
                .trackControl
                    .trackControlIcon.trackControlIconPlay
                    .trackControlText
                        | Play
                //- .trackControl
                //-     .trackControlIcon.trackControlIconStop
                //-     .trackControlText
                //-         | Stop
                .trackControl
                    .trackControlIcon.trackControlIconUpload
                    .trackControlText
                        | Upload
                .trackControl
                    .trackControlIcon.trackControlIconMixdown
                        .trackControlIconCount
                            .trackControlIconCountText 18
                    .trackControlText
                        | Mixdown

            .meters
                .meter
                    .meterTitle
                        | Load
                    .meterValue
                        | 60
                        span %
                .meter
                    .meterTitle
                        | Clients
                    .meterValue
                        | 5127
                .meter
                    .meterTitle
                        | Pings
                    .meterValue
                        | 1234
                        span &nbsp;ms
    main.main
        .mainContent.mainContentDemo
            button(data-modal="#modal-short").buttonLight Modal short
            <br />
            <br />
            button(data-modal="#modal-short-long").buttonLight Modal short with long header
            <br />
            <br />
            button(data-modal="#modal-short-scroll").buttonLight Modal short with scroll
            <br />
            <br />
            button(data-modal="#modal-wide").buttonLight Modal wide
            <br />
            <br />
            button(data-modal="#modal-wide-long").buttonLight Modal wide with long header
            <br />
            <br />
            button(data-modal="#modal-wide-scroll").buttonLight Modal wide with scroll
            <br />
            <br />
            button(data-modal="#modal-progress").buttonLight Modal progress
            <br />
            <br />
            button(data-modal="#modal-legend").buttonLight Modal legend
            <br />
            <br />
        .mainFooter
            //- For open select add .productDropdownControlIsOpen
            .productDropdownControl
                .productDropdown
                    | Name product 01
                .productDropdownPanel
                    .productDropdownPanelItem
                        | Name product 01
                    .productDropdownPanelItem.productDropdownPanelItemActive
                        | Name product 01
                    .productDropdownPanelItem
                        | Name product 02
                    .productDropdownPanelItem
                        | Name product 03
                    .productDropdownPanelItem
                        | Name product 03

    aside.sidebar
        .sidebarContent
            .sidebarScrollContainter
                .product
                    .productLine
                    .productImage
                        img(src="img/product/product.png")
                    .productContent
                        .productContentRow
                            .productName
                                | Wave Shaver v2
                            .productPrice
                                .productPriceValue
                                    | 72
                                    span $
                .product
                    .productLine
                    .productImage
                        img(src="img/product/product.png")
                    .productContent
                        .productContentRow
                            .productName
                                | Wave Shaver v2
                            .productPrice
                                .productPriceValue
                                    | 72
                                    span $
                .product
                    .productLine
                    .productImage
                        img(src="img/product/product.png")
                    .productContent
                        .productContentRow
                            .productName
                                | Wave Shaver v2
                            .productPrice
                                .productPriceValue
                                    | 66
                                    span $
                                .productPriceSale
                                    | 78 $
                        .productContentRow
                            .productOffer
                                .productOfferName
                                    | NAME  special offer
                                .productOfferPrice
                                    | 24
                                    em $
                                    span OFF
            .sidebarScrollRail
                .sidebarScrollBar
        .sidebarFooter
            .cart
                .cartOffer
                    .cartOfferSlider
                        .cartOfferSliderLeft
                        .cartOfferSliderSlideWrap
                            .cartOfferSliderSlide
                                | Special Offer:
                                span Christmas
                        .cartOfferSliderRight
                .cartTotals
                    .cartTotalSubtotal
                        .cartTotalSubtotalTitle
                            | Subtotal:
                        .cartTotalSubtotalValue
                            | 654
                            span $
                    .cartTotal
                        .cartTotalTitle
                            | Estimated Order Total:
                        .cartTotalValue
                            | 622 $

                .cartButtonAdd
                    button.cartButton
                        | Add current FX Chain to cart
            .shares
                .shareItems
                    a(href="#").shareItem
                        .shareItemIcon.shareItemIconCopy
                        .shareItemTitle
                            | Copy link to<br> clipboard
                    a(href="#").shareItem
                        .shareItemIcon.shareItemIconFB
                        .shareItemTitle
                            | Share to<br> facebook
                    a(href="#").shareItem
                        .shareItemIcon.shareItemIconTW
                        .shareItemTitle
                            | Share to<br> twitter
                .shareBottom
                    .shareWindow
                        | http://
                        span www.gpu.audio/sb/2384756


