<div class="product">
    <div class="productLine"></div>
    <div class="productImage"><img src="/assets/img/product/product.png"></div>
    <div class="productContent">
        <div class="productContentRow">
            <div class="productName">Wave Shaver v2</div>
            <div class="productPrice">
                <div class="productPriceValue">66<span>$</span></div>
                <div class="productPriceSale">78 $</div>
            </div>
        </div>
        <div class="productContentRow">
            <div class="productOffer">
                <div class="productOfferName">NAME  special offer</div>
                <div class="productOfferPrice">24<em>$</em><span>OFF</span></div>
            </div>
        </div>
    </div>
</div>