<popup></popup>

<div class="window">
    <div class="windowTitleBar">
        <div class="windowTitleHeader">
            <h1 *ngIf="ActiveSandBox">{{ ActiveSandBox.Caption }}</h1>
        </div>
        <div class="windowControl">
            <div class="windowControlBack">
                <div class="windowControlTooltip">Back</div>
            </div>
            <div class="windowControlHelp" (click)="showLegendPopup()">
                <div class="windowControlTooltip">Help</div>
            </div>
            <div class="windowControlZoom" [class.windowControlZoomActive]="fullZoom == true" (click)="zoomIFrameContent()">
                <div class="windowControlTooltip">Zoom</div>
            </div>
            <div class="windowControlClose">
                <div class="windowControlTooltip">Close</div>
            </div>
        </div>
    </div>
    <div class="windowContent">
        <aside class="sidebar">
            <files-list class="sidebarContent" [perfect-scrollbar]="scrollBarConfig"></files-list>
            <files-controls [socketData]="getSocketData()"></files-controls>
        </aside>
        <main class="main">
            <div class="mainContent mainContentDemo">
                <iframe width="100%"
                        height="100%"
                        src="http://localhost:3000/alex"
                        frameborder="0"
                        id="myIframe"
                        name="myIframe"
                        (load)="onFrameLoad(myIframe)"
                        allowfullscreen></iframe>
                <loader class="loader-container" *ngIf="!frameIsLoaded"></loader>
            </div>
            <div class="mainFooter" *ngIf="SandboxList">
                <div class="productDropdownControl" [class.productDropdownControlIsOpen]="sandboxListShown == true">
                    <div class="productDropdown" (click)="toggleSandboxList()">{{ ActiveSandBox.Caption }}</div>
                    <div class="productDropdownPanel">
                        <div class="productDropdownPanelItem"
                             [class.productDropdownPanelItemActive]="sandbox.Current"
                             *ngFor="let sandbox of SandboxList"
                             (click)="setActiveSandbox(sandbox)">{{ sandbox.Caption }}</div>
                    </div>
                </div>
            </div>
        </main>

        <aside class="sidebar">
            <products-list [OfferState]="OfferState" class="sidebarContent" [perfect-scrollbar]="scrollBarConfig"></products-list>
            <div class="sidebarFooter">
                <cart [OfferState]="OfferState"></cart>
                <social-links></social-links>
            </div>
        </aside>


    </div>
</div>
