<popup></popup>

<!-- <div class="modal" id="modal-short-long">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>Digital delay gives you a wide range range</h6>
      <div class="modalHeaderTag">Delay plugin</div>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle">
    <div class="modalContent">
      <p>Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!</p>
      <ul>
        <li>Independent or linked delay lines for each chanel</li>
        <li>Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode</li>
        <li>BandPass filter with adjustable Q</li>
        <li>Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels</li>
      </ul>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Ok</button>
    <button class="buttonDark">cancel</button>
  </div>
</div>
<div class="modal" id="modal-short-scroll">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>D-Lay</h6>
      <div class="modalHeaderTag">Delay plugin</div>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle modalMiddleScroll">
    <div class="modalContent">
      <p>Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!</p>
      <ul>
        <li>Independent or linked delay lines for each chanel</li>
        <li>Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode</li>
        <li>BandPass filter with adjustable Q</li>
        <li>Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels</li>
      </ul>
    </div>
    <div class="modalScrollRail">
      <div class="modalScrollBar"></div>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Ok</button>
    <button class="buttonDark">cancel</button>
  </div>
</div>
<div class="modal modalWide" id="modal-wide">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>D-Lay</h6>
      <div class="modalHeaderTag">Delay plugin</div>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle">
    <div class="modalContent">
      <p>Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!</p>
      <ul>
        <li>Independent or linked delay lines for each chanel</li>
        <li>Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode</li>
        <li>BandPass filter with adjustable Q</li>
        <li>Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels</li>
      </ul>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Ok</button>
    <button class="buttonDark">cancel</button>
  </div>
</div>
<div class="modal modalWide" id="modal-wide-long">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>Digital delay gives you a wide range range</h6>
      <div class="modalHeaderTag">Delay plugin</div>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle">
    <div class="modalContent">
      <p>Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!</p>
      <ul>
        <li>Independent or linked delay lines for each chanel</li>
        <li>Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode</li>
        <li>BandPass filter with adjustable Q</li>
        <li>Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels</li>
      </ul>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Ok</button>
    <button class="buttonDark">cancel</button>
  </div>
</div>
<div class="modal modalWide" id="modal-wide-scroll">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>D-Lay</h6>
      <div class="modalHeaderTag">Delay plugin</div>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle modalMiddleScroll">
    <div class="modalContent">
      <p>Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!</p>
      <ul>
        <li>Independent or linked delay lines for each chanel</li>
        <li>Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode</li>
        <li>BandPass filter with adjustable Q</li>
        <li>Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels</li>
      </ul>
    </div>
    <div class="modalScrollRail">
      <div class="modalScrollBar"></div>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Ok</button>
    <button class="buttonDark">cancel</button>
  </div>
</div>
<div class="modal" id="modal-progress">
  <div class="modalTitle">
    <div class="modalHeader">
      <h6>Attention</h6>
    </div>
    <div class="modalClose">
      <button class="modalCloseButton js-modal-close"></button>
    </div>
  </div>
  <div class="modalMiddle">
    <div class="modalContent modalContentCenter">
      <h4>Due to the sandbox concept, <br> the mixdown is limited to 2 minutes long.</h4>
      <div class="modalProgress">
        <div class="modalProgressRail">
          <div class="modalProgressBar" style="width: 40%"></div>
        </div>
        <div class="modalProgressLegend">
          <div class="modalProgressLegendMin">0</div>
          <div class="modalProgressLegendMax">44 of 120 Sec</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modalFooter">
    <button class="buttonLight">Cancel</button>
  </div>
</div>
<div class="overlay"></div> -->

<div class="window">
  <div class="windowTitleBar">
    <div class="windowTitleHeader">
      <h1>GPU.AUDIO  SANDBOX</h1>
    </div>
    <div class="windowControl">
      <div class="windowControlBack">
        <div class="windowControlTooltip">Back</div>
      </div>
      <div class="windowControlHelp">
        <div class="windowControlTooltip">Help</div>
      </div>
      <div class="windowControlZoom">
        <div class="windowControlTooltip">Zoom</div>
      </div>
      <div class="windowControlClose">
        <div class="windowControlTooltip">Close</div>
      </div>
    </div>
  </div>
  <div class="windowContent">
    <aside class="sidebar">
      <files-list></files-list>

      <div class="sidebarFooter">
        <div class="trackMemory">
          <div class="trackMemoryBar">
            <div class="trackMemoryBarProgress"></div>
            <div class="trackMemoryBarProgressActive" style="width: 60%">
              <div class="trackMemoryBarProgressActiveTooltip">60</div>
            </div>
          </div>
          <div class="trackMemoryBarValue">
            <div class="trackMemoryBarValueMin">0</div>
            <div class="trackMemoryBarValueMax">44 of 100 Mb</div>
          </div>
        </div>
        <div class="trackControls">
          <div class="trackControl">
            <div class="trackControlIcon trackControlIconPlay"></div>
            <div class="trackControlText">Play</div>
          </div>
          <div class="trackControl">
            <div class="trackControlIcon trackControlIconUpload"></div>
            <div class="trackControlText">Upload</div>
          </div>
          <div class="trackControl">
            <div class="trackControlIcon trackControlIconMixdown">
              <div class="trackControlIconCount">
                <div class="trackControlIconCountText">18</div>
              </div>
            </div>
            <div class="trackControlText">Mixdown</div>
          </div>
        </div>
        <div class="meters">
          <div class="meter">
            <div class="meterTitle">Load</div>
            <div class="meterValue">60<span>%</span></div>
          </div>
          <div class="meter">
            <div class="meterTitle">Clients</div>
            <div class="meterValue">5127</div>
          </div>
          <div class="meter">
            <div class="meterTitle">Pings</div>
            <div class="meterValue">1234<span>&nbsp;ms</span></div>
          </div>
        </div>
      </div>
    </aside>
    <main class="main">
      <div class="mainContent mainContentDemo">
        <button class="buttonLight" (click)="openPopup()">Modal short</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-short-long">Modal short with long header</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-short-scroll">Modal short with scroll</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-wide">Modal wide</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-wide-long">Modal wide with long header</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-wide-scroll">Modal wide with scroll</button><br />
        <br />
        <button class="buttonLight" data-modal="#modal-progress">Modal progress</button><br />
        <br />
      </div>
      <div class="mainFooter">
        <div class="productDropdownControl">
          <div class="productDropdown">Name product 01</div>
          <div class="productDropdownPanel">
            <div class="productDropdownPanelItem">Name product 01</div>
            <div class="productDropdownPanelItem productDropdownPanelItemActive">Name product 01</div>
            <div class="productDropdownPanelItem">Name product 02</div>
            <div class="productDropdownPanelItem">Name product 03</div>
            <div class="productDropdownPanelItem">Name product 03</div>
          </div>
        </div>
      </div>
    </main>
    <aside class="sidebar">
      <products-list></products-list>

      <div class="sidebarFooter">
        <div class="cart">
          <div class="cartOffer">
            <div class="cartOfferSlider">
              <div class="cartOfferSliderLeft"></div>
              <div class="cartOfferSliderSlideWrap">
                <div class="cartOfferSliderSlide">Special Offer:<span>Christmas</span></div>
              </div>
              <div class="cartOfferSliderRight"></div>
            </div>
          </div>
          <div class="cartTotals">
            <div class="cartTotalSubtotal">
              <div class="cartTotalSubtotalTitle">Subtotal:</div>
              <div class="cartTotalSubtotalValue">654<span>$</span></div>
            </div>
            <div class="cartTotal">
              <div class="cartTotalTitle">Estimated Order Total:</div>
              <div class="cartTotalValue">622 $</div>
            </div>
          </div>
          <div class="cartButtonAdd">
            <button class="cartButton">Add current FX Chain to cart</button>
          </div>
        </div>
        <div class="shares">
          <div class="shareItems"><a class="shareItem" href="#">
            <div class="shareItemIcon shareItemIconCopy"></div>
            <div class="shareItemTitle">Copy link to<br> clipboard</div></a><a class="shareItem" href="#">
            <div class="shareItemIcon shareItemIconFB"></div>
            <div class="shareItemTitle">Share to<br> facebook</div></a><a class="shareItem" href="#">
            <div class="shareItemIcon shareItemIconTW"></div>
            <div class="shareItemTitle">Share to<br> twitter</div></a></div>
          <div class="shareBottom">
            <div class="shareWindow">http://<span>www.gpu.audio/sb/2384756</span></div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
