<div class="sidebarScrollContainter">
    <div class="product" *ngFor="let product of OfferState.Offer.ProductList; index as i">
        <div class="productLine"></div>
        <div class="productImage">
            <img [src]="getImage(product)">
        </div>
        <div class="productContent">
            <div class="productContentRow">
                <div class="productName">{{ product.Product.Caption }}</div>
                <div class="productPrice">
                    <div class="productPriceValue">{{ getDiscount(product) }}<span>$</span></div>
                    <div class="productPriceSale">{{ product.Product.Price }} $</div>
                </div>
            </div>
            <div class="productContentRow">
                <div class="productOffer">
                    <div class="productOfferName">{{ OfferState.Offer.Id }}</div>
                    <div class="productOfferPrice">{{ getDiscount(product) }}<em>$</em><span>OFF</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
