.window
    size 100% 100vh
    background-color #2d2f2f
    position relative
    overflow hidden
.windowContent
    size 100% calc(100vh - 44px)
    box horizontal top space-between
    border-top 1px solid rgba(0,0,0,.1)
.windowTitleBar
    box horizontal middle center
    background-color #2f3232
    height 44px
    padding 0 16px
    padding-top 2px
    border-bottom 1px solid rgba(255,255,255,.02)

.windowTitleHeader
    align-self center
    h1
        color #aebaba
        font-family 'Circe', sans-serif
        font-size 16px
        font-weight 700
        text-transform uppercase