.productDropdownControl
    display block
    position relative

.productDropdownControlIsOpen
    .productDropdown
        background-image url('../img/product-dropdown/down.png')
         &:hover
            background-image url('../img/product-dropdown/down-hover.png')
    .productDropdownPanel
        opacity 1
        visibility visible

.productDropdown
    display block
    position relative
    width 480px
    height 28px
    box horizontal middle center
    color #6a7474
    font-family 'Circe', sans-serif
    font-size 13px
    font-weight 700
    padding-top 2px
    text-transform uppercase
    z-index 10
    border-radius 3px
    background-color #343a39
    background-repeat no-repeat
    background-image url('../img/product-dropdown/up.png')
    background-position right 18px center
    transition all .3s
    cursor default
    &:hover
        background-image url('../img/product-dropdown/up-hover.png')
        color #ffffff
        box-shadow 0 0 3px rgba(0, 0, 0, 0.3)

.productDropdownPanel
    display block
    position absolute
    bottom 0px
    left 0
    width 480px
    box vertical bottom center
    box-shadow 0 1px 5px rgba(0, 0, 0, 0.1)
    border-radius 3px
    background-color #343a39
    padding-bottom 28px
    opacity 0
    visibility hidden
    transition all .3s

.productDropdownPanelItem
    width 100%
    color #6a7474
    font-family 'Circe', sans-serif
    font-size 13px
    font-weight 700
    text-transform uppercase
    height 24px
    box horizontal middle center
    cursor default
    &:hover
        border-radius 3px
        background-color #39403f
        width calc(100% - 8px)
        margin 0 auto
        color #8f9d9f

.productDropdownPanelItemActive
    color #ffffff
    background-color #303534
    &:hover
        color #ffffff