.main
    flex 1 1 calc(100% - 640px)
    width calc(100% - 640px)
    align-self stretch
    box vertical space-between center
    border-left 1px solid rgba(255,255,255,.02)
    border-right 1px solid rgba(255,255,255,.02)

.mainContent
    width 100%
    flex 1 1 calc(100% - 43px)
.mainContentDemo
    padding 40px
    .buttonDark,
    .buttonLight
        max-width 100%
.mainFooter
    width 100%
    flex 0 1 43px
    height 43px
    box horizontal middle center