.modal#modal-login
    .modalTitle
        .modalHeader
            h6 Login or Register
        .modalClose
            button.modalCloseButton.js-modal-close
    .modalMiddle
        .modalContent.modalContentWide
            form.loginForm
                .loginFormItem
                    .loginFormItemRow
                        label.loginFormLabel
                            span EMAIL
                    .loginFormItemRow
                        input.loginFormInput.loginFormInputError(type="text" value="basilbasilbasil@domainwithlongname.com")
                .loginFormItem
                    .loginFormItemRow
                        label.loginFormLabel.loginFormLabelPassword
                            span password
                    .loginFormItemRow
                        input.loginFormInput(type="text" value="o8734fwo8HO87serb3i8(9w3948")
                        button.buttonLight Forgot?
                    .loginFormItemRow
                        .loginFormItemNotify
                            | We sent the password to your inbox.
    .modalFooter.modalFooterLogin
        button.buttonLight Login
        button.buttonLight Register
