.modal#modal-progress
    .modalTitle
        .modalHeader
            h6 Attention
        .modalClose
            button.modalCloseButton.js-modal-close
    .modalMiddle
        .modalContent.modalContentCenter
            h4 Due to the sandbox concept, <br> the mixdown is limited to 2 minutes long.
            .modalProgress
                .modalProgressRail
                    .modalProgressBar(style="width: 40%")
                .modalProgressLegend
                    .modalProgressLegendMin
                        | 0
                    .modalProgressLegendMax
                        | 44 of 120 Sec
    .modalFooter
        button.buttonLight Cancel

