.modal#modal-short-long
    .modalTitle
        .modalHeader
            h6 Digital delay gives you a wide range range
            .modalHeaderTag
                | Delay plugin
        .modalClose
            button.modalCloseButton.js-modal-close
    .modalMiddle
        .modalContent
            p Digital delay gives you a wide range of time manipulation from modelling classic tape delay for vocals and drums to endless echoes in breaks of your dance hit!
            ul
                li Independent or linked delay lines for each chanel
                li Up to 2000ms delay time with 0.01ms accuracy in time mode or up to 2 bars in host-sync mode
                li BandPass filter with adjustable Q
                li Stereo image turning with Time Shift knobs for each channel and Master Shift knob for both channels
    .modalFooter
        button.buttonLight Ok
        button.buttonDark cancel
