.modal.modalCart#modal-cart
    .modalTitle
        .modalHeader
            h6 Cart
        .modalClose
            button.modalCartClearButton
            button.modalCloseButton.js-modal-close
    .modalMiddle.modalMiddleScroll.modalMiddleScrollCart
        .modalContent.modalContentCart
            .product
                .productLine
                .productImage
                    img(src="img/product/product.png")
                .productContent
                    .productContentRow
                        .productName
                            | Wave Shaver v2
                        .productPrice
                            .productPriceValue
                                | 72
                                span $
            .product
                .productLine
                .productImage
                    img(src="img/product/product.png")
                .productContent
                    .productContentRow
                        .productName
                            | Wave Shaver v2
                        .productPrice
                            .productPriceValue
                                | 72
                                span $
            .product
                .productLine
                .productImage
                    img(src="img/product/product.png")
                .productContent
                    .productContentRow
                        .productName
                            | Wave Shaver v2
                        .productPrice
                            .productPriceValue
                                | 66
                                span $
                            .productPriceSale
                                | 78 $
                    .productContentRow
                        .productOffer
                            .productOfferName
                                | NAME  special offer
                            .productOfferPrice
                                | 24
                                em $
                                span OFF
            .product
                .productLine
                .productImage
                    img(src="img/product/product.png")
                .productContent
                    .productContentRow
                        .productName
                            | Wave Shaver v2
                        .productPrice
                            .productPriceValue
                                | 66
                                span $
                            .productPriceSale
                                | 78 $
                    .productContentRow
                        .productOffer
                            .productOfferName
                                | NAME  special offer
                            .productOfferPrice
                                | 24
                                em $
                                span OFF
            .product
                .productLine
                .productImage
                    img(src="img/product/product.png")
                .productContent
                    .productContentRow
                        .productName
                            | Wave Shaver v2
                        .productPrice
                            .productPriceValue
                                | 66
                                span $
                            .productPriceSale
                                | 78 $
                    .productContentRow
                        .productOffer
                            .productOfferName
                                | NAME  special offer
                            .productOfferPrice
                                | 24
                                em $
                                span OFF

        .modalScrollRail
            .modalScrollBar
    .modalFooter.modalFooterCart
        .cart
            .cartTotals
                .cartTotalSubtotal
                    .cartTotalSubtotalTitle
                        | Subtotal:
                    .cartTotalSubtotalValue
                        | 654
                        span $
                .cartTotal
                    .cartTotalTitle
                        | Estimated Order Total:
                    .cartTotalValue
                        | 622 $
            .cartTerms
                input(id="termcheck" type="checkbox")
                label(for="termcheck")
                    | I have read and agree with&nbsp;
                    a(href="#") Terms of Use
                    | ,&nbsp;
                    a(href="#") EULA
                    | ,&nbsp;
                    a(href="#") FAQ
                    |  and system requrements.

            .cartButtonAdd
                button.cartButton
                    | proceed to checkout
