.modal.modalWide#modal-legend
    .modalTitle
        .modalHeader.modalHeaderCenter
            h6 LEGEND
        .modalClose
            button.modalCloseButton.js-modal-close
    .modalMiddle.modalMiddleScroll.modalMiddleScrollLarge
        .modalContent
            .modalLegendItems
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic01.png")
                    .modalLegendItemRight
                        ul
                            li Your files are highlighted in light gray and are always at the top of the list. You can delete it by clicking on close button.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic02.png")
                    .modalLegendItemRight
                        ul
                            li The files we prepared look darker than those you uploaded. You can not delete them.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic03.png")
                    .modalLegendItemRight
                        ul
                            li Press «FX» button to send track into FX Chain.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic04.png")
                    .modalLegendItemRight
                        ul
                            li Press «B» button to mix this track with FX Chain track.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic05.png")
                    .modalLegendItemRight
                        ul
                            li Volume slider
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic06.png")
                    .modalLegendItemRight
                        ul
                            li Lenght of your uploaded files. To free up space, delete unused ones.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic07.png")
                    .modalLegendItemRight
                        ul
                            li «Play/Pause» button. By «Upload» button you can upload Wav, Aiff, Flac, Alac, Mp3 format files in FX Chain Mode of Sandbox or Mid format - if in Synth Mode. «Mixdown» button allows you to download the processed files a limited number of times within a particular time; this restriction is necessary to prevent unfair overloading of the server.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic08.png")
                    .modalLegendItemRight
                        ul
                            li Server statistics. «Load» shows percents of loaded server’s GPU cores (4 «AMD Fury Nano» cards). "Clients" shows how many site visitors use the sandbox at the moment. «Ping» shows overall latency between «what you do» and «what you hear».
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic09.png")
                    .modalLegendItemRight
                        ul
                            li Status icon shows link state between you and GPU server. Yellow color means good link but problem on the server, red color means no connection.

                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic10.png")
                    .modalLegendItemRight
                        ul
                            li «Back» button allows you to undo last 10 actions by rolling them around in a circle. «Help» button calls this popup window. «Zoom» button changes scale of FX window from full zoom out to real size, you can use hand tool to move around the FX window. «Close» button closes Sandbox window and redirects you to the product page. .modalLegendItem
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic11.png")
                    .modalLegendItemRight
                        ul
                            li You can choose the discount offers available for you.
                .modalLegendItem
                    .modalLegendItemLeft
                        img(src="img/legend/pic12.png")
                    .modalLegendItemRight
                        ul
                            li You can choose the discount offers available for you.

        .modalScrollRail
            .modalScrollBar
    .modalFooter
        button.buttonLight I see

