.modal#modal-attention
    .modalTitle
        .modalHeader
            h6 Attention
        .modalClose
            button.modalCloseButton.js-modal-close
    .modalMiddle
        .modalContent.modalContentWide
            .loginFormItemNotify
                | We sent the password to your inbox.
    .modalFooter
        button.buttonLight cancel

