<div class="sidebarFooter">
    <div class="trackMemory">
        <div class="trackMemoryBar">
            <div class="trackMemoryBarProgress"></div>
            <div class="trackMemoryBarProgressActive" style="width: 60%">
                <div class="trackMemoryBarProgressActiveTooltip">60</div>
            </div>
        </div>
        <div class="trackMemoryBarValue">
            <div class="trackMemoryBarValueMin">0</div>
            <div class="trackMemoryBarValueMax">44 of 100 Mb</div>
        </div>
    </div>
    <div class="trackControls">
        <div class="trackControl">
            <div class="trackControlIcon trackControlIconPlay"></div>
            <div class="trackControlText">Play</div>
        </div>
        <div class="trackControl" (click)="uploadFile()">
            <div class="trackControlIcon trackControlIconUpload"></div>
            <div class="trackControlText">Upload</div>
        </div>
        <div class="trackControl">
            <div class="trackControlIcon trackControlIconMixdown">
                <div class="trackControlIconCount">
                    <div class="trackControlIconCountText">18</div>
                </div>
            </div>
            <div class="trackControlText">Mixdown</div>
        </div>
    </div>
    <div class="meters" *ngIf="gpuServerLoad">
        <div class="meter">
            <div class="meterTitle">Load</div>
            <div class="meterValue">{{ gpuServerLoad.GpuServerLoad }}<span>%</span></div>
        </div>
        <div class="meter">
            <div class="meterTitle">Clients</div>
            <div class="meterValue">{{ gpuServerLoad.GpuServerConnectedClients }}</div>
        </div>
        <div class="meter">
            <div class="meterTitle">Pings</div>
            <div class="meterValue">{{ gpuServerLoad.GpuServerPingInMs }}<span>&nbsp;ms</span></div>
        </div>
    </div>
</div>