<div class="sidebarFooter">
    <div class="trackMemory" *ngIf="!isUploading && storageLimits">
        <div class="trackMemoryBar">
            <div class="trackMemoryBarProgress"></div>
            <div class="trackMemoryBarProgressActive" [ngStyle]="{'width.%': getBusySpace()}">
                <div class="trackMemoryBarProgressActiveTooltip">{{ getBusySpace() }}</div>
            </div>
        </div>
        <div class="trackMemoryBarValue">
            <div class="trackMemoryBarValueMin">0</div>
            <div class="trackMemoryBarValueMax">{{ storageLimits.SpaceUsedInBytes }} of {{ storageLimits.SpaceTotalInBytes }} Mb</div>
        </div>
    </div>
    <div class="trackMemory" *ngIf="isUploading">
        <div class="trackMemoryBar">
            <div class="trackMemoryBarProgress"></div>
            <div class="trackMemoryBarProgressActive"
                 [class.isComplete]="uploadIsComplete"
                 [ngStyle]="{'width.%': getUploadedPercent()}">
                <div class="trackMemoryBarProgressActiveTooltip">{{ getUploadedPercent() }}</div>
            </div>
        </div>
        <div class="trackMemoryBarValue">
            <div class="trackMemoryBarValueMin">0</div>
            <div class="trackMemoryBarValueMax">{{ getUploadedPart() }} of {{ getFileSize() }}</div>
        </div>
    </div>

    <div class="trackControls">
        <div class="trackControl" (click)="streamingAudio()">
            <div class="trackControlIcon"
                 [class.trackControlIconStop]="isPlaying"
                 [class.trackControlIconPlay]="!isPlaying"></div>
            <div class="trackControlText" *ngIf="!isPlaying">Play</div>
            <div class="trackControlText" *ngIf="isPlaying">Stop</div>
        </div>
        <label class="trackControl">
            <span class="trackControlIcon trackControlIconUpload"></span>
            <span class="trackControlText">Upload</span>
            <input type="file"
                   multiple
                   name="filetoupload"
                   (change)="prepareToUploadFile($event)"
                   style="display: none"
                   [(ngModel)]="filetoupload" />
        </label>
        <div class="trackControl">
            <div class="trackControlIcon trackControlIconMixdown" (click)="mixDown()">
                <div class="trackControlIconCount">
                    <div class="trackControlIconCountText">18</div>
                </div>
            </div>
            <div class="trackControlText">Mixdown</div>
        </div>
    </div>
    <div class="meters" *ngIf="socketData && socketData.GpuServerLoad">
        <div class="meter">
            <div class="meterTitle">Load</div>
            <div class="meterValue">{{ (socketData.GpuServerLoad.GpuServerLoad).toFixed(2) }}<span>%</span></div>
        </div>
        <div class="meter">
            <div class="meterTitle">Clients</div>
            <div class="meterValue">{{ socketData.GpuServerLoad.GpuServerConnectedClients }}</div>
        </div>
        <div class="meter">
            <div class="meterTitle">Pings</div>
            <div class="meterValue">{{ (socketData.GpuServerLoad.GpuServerPingInMs).toFixed(2) }}<span>&nbsp;ms</span></div>
        </div>
    </div>
</div>